
<form action="{% url 'authentication:index' %}" method="post">
{% csrf_token %}

  Username:<br>
  <input type="text" name="username" >
  <br>
  Password:<br>
  <input type="text" name="password" >
  <br><br>
  <input type="submit" value="Submit">

</form>